<h1>特快拉教练版测试</h1>

<!-- 注册尚未写 -->
<table border=0>
  <tr>
    <th>测试内容</th>
    <th>测试结果</th>
  </tr>
  <tr>
    <td>账号登录</td>
    <td><%= result 1 %></td>
  </tr>
  <tr>
    <td>获取行程安排</td>
    <td><%= result 2 %></td>
  </tr>
  <tr>
    <td>获取待处理订单</td>
    <td><%= result 3 %></td>
  </tr>
  <tr>
    <td>获取已接单订单</td>
    <td><%= result 4 %></td>
  </tr>
  <tr>
    <td>获取已完成订单</td>
    <td><%= result 5 %></td>
  </tr>
  <tr>
    <td>获取个人资料</td>
    <td><%= result 6 %></td>
  </tr>
  <tr>
    <td>修改个人资料</td>
    <td><%= result 7 %></td>
  </tr>
  <tr>
    <td>获取学员评价</td>
    <td><%= result 8 %></td>
  </tr>
  <tr>
    <td>获取常见问题</td>
    <td><%= result 9 %></td>
  </tr>
  <tr>
    <td>更改密码</td>
    <td><%= result 10 %></td>
  </tr>
  <tr>
    <td>退出登录</td>
    <td><%= result 11 %></td>
  </tr>
</table>

<p><%= button_to '开始测试', '/test_for_teacher/login' %></p>
<p><%= button_to '清除测试结果', '/test_for_teacher/clear_test' %></p>