<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
  <title><%= @title %></title>
  <%= stylesheet_link_tag '../../stylesheets/admin/style', '../../stylesheets/admin/style-responsive' %>
  <%= javascript_include_tag '../../javascripts/jquery-1.11.0.min' %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <!--<script src="../javascripts/bootstrap.min.js"></script>-->
  <!--<script src="../javascripts/admin/html5shiv.js"></script>-->
  <!--<script src="../javascripts/admin/respond.min.js"></script>-->
  <![endif]-->
</head>
<%=yield%>
<!-- Placed js at the end of the document so the pages load faster -->
<!-- Placed js at the end of the document so the pages load faster -->
<%= javascript_include_tag '../../javascripts/jquery-migrate-1.2.1.min',
                           '../../javascripts/modernizr.min','../../javascripts/bootstrap.min','../../javascripts/jquery-ui-1.9.2.custom.min'%>
<script>
$(function(){
  var _toggle = false;
  $(document).on('click','.dropdown',function(){
    if(!_toggle){
      $(this).addClass('open');
    }else{
      $(this).removeClass('open');
    }
    _toggle = !_toggle;
  })
})
</script>

</html>