<body class="horizontal-menu-page">

<section>
  <%= partial 'layouts/nav' %>

  <!--body wrapper start-->
  <div class="wrapper">
    <div class="container-fluid" style="margin-bottom:20px">
      <div class="row">
        <div class="col-lg-2">
          <select class="form-control select-role">
            <option>请选择角色</option>
            <option value="1">管理员</option>
            <option value="2">校长</option>
            <option value="3">财务</option>
            <option value="4">客户主任</option>
            <option value="5">门店经理</option>
            <option value="6">所有角色</option>
          </select>
        </div>
      </div>

    </div>
    <div class="col-lg-7">
      <section class="panel">
        <table class="table table-condensed table-striped table-hover">
          <thead>
          <tr style="padding:0">
            <th>角色</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>上次登录时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user|%>
            <tr>
              <td><%= user.role_word%></td>
              <td><%= user.name%></td>
              <td><%= user.mobile%></td>
              <td><%= user.last_login_at%></td>
              <td>
                <button class="btn btn-primary change-psd" data-id="<%= user.id %>"
                     data-toggle="modal" data-target="#myModal">修改密码</button>
                <a href="/web/roles/destroy/<%= user.id %>" class="btn btn-danger">删除</a>
              </td>
              <!--<td>-->
                <!--<div class='list-row-action-wrapper'>-->
                  <!--<%- form_tag url(:roles, :destroy, :id => user.id), :method => :delete do %>-->
                      <!--<%= submit_tag pat(:delete), :class =>'btn btn-danger btn-small' %>-->
                  <!--<% end %>-->
                <!--</div>-->
              <!--</td>-->
            </tr>
          <% end %>
          </tbody>
        </table>
        <p style="padding:10px">每页20条</p>
      </section>
      <div class="row">
        <%= will_paginate @users,renderer: WillPaginate::ViewHelpers::BoostrapLinkRenderer %>
      </div>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-heading">添加用户</div>
        <div class="panel-body">
          <% form_for :user, url(:roles, :create), :class => 'form-horizontal', :style => 'margin:auto;' do |f| %>
              <%= partial 'roles/form', :locals => { :f => f } %>
          <% end %>
        </div>
      </section>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              修改密码
            </h4>
          </div>
          <div class="modal-body">
            <form action="/web/roles/change" class="form-horizontal" method="post">
              <div class="form-group ">
                <label class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="new_password" required placeholder="请输入新密码" >
                </div>
              </div>
              <div class="form-group ">
                <label class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="confirm_password" required placeholder="请确认新密码">
                </div>
              </div>
              <input type="hidden" id="mobile" name="id">
              <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <input type="submit" class="btn btn-primary">

                </input>
              </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

  </div>
  <!--body wrapper end-->

  <!--footer section start-->
  <footer class="sticky-footer">
    2016(C) www.tekala.cn
  </footer>
  <!--footer section end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../javascripts/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../javascripts/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="../javascripts/admin/scripts.js"></script>
<script>
  $(function(){
    $(document).on('change','.select-role',function(){
      var _val = $(event.target).val();
      if(_val == 6){
        location.href = '/web/roles';
        return
      }
      location.href = '?role_id=' + _val;
    });

    var $mobile = $('#mobile');
    $(document).on('click','.change-psd',function(){
      $mobile.val($(event.target).attr('data-id'));
    })
  })
</script>

</body>